html {
    margin-left: 0;
    padding-left: 0;
    background-color: rgb(216, 213, 213);
}

.navbar {
    top: 0px;
    left: 0px;
    background-color: rgb(13, 5, 20);
    display: block;
    height: 100%;
    position: absolute;
    width: 20%;
    padding-left: 30px;
}

#Appicon {
    border: white solid;
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.nav {
    color: rgb(191, 194, 197);
    display: flex;
    border: white solid;
    width: 85%;
    height: 9%;
    margin-bottom: 5%;
    align-items: center;
    border-radius: 20px 20px 20px 20px;

}

.navIcon {
    border: rgb(15, 15, 15) solid;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    width: 40px;
}

.nav:hover {
    background-color: rgb(156, 63, 243);
}

.navText {
    text-align: center;
}

#logout {
    margin-top: 50%;
}

.top {
    background-color: white;
    top: 0%;
    left: 20%;
    right: 0%;
    display: flex;
    height: 10%;
    position: absolute;
    width: 78%;
    padding-left: 0%;
    margin-left: 30px;
    justify-content: space-between;
}

#addUsingJs {
    padding-left: 1%;
}

.Mid {
    left: 22%;
    right: 0%;
    top: 11%;
    bottom: 100%;
    display: block;
    position: absolute;
    height: auto;
}

#change {
    width: 8%;
    padding: 0.5%;
}

#iconForView {
    display: block;
    position: absolute;
    left: 95%;
    top: 20%;
}

.cardInsertion:hover {
    transform: scale(1.1);
    border: 3px solid rgb(80, 7, 80);
}

/*this is card view for the files use this in javascript*/
#cardInsertion {
    display: flex;
    flex-wrap: wrap;
}

.cardContainer {
    background: grey;
    width: 250px;
    height: 260px;
    border-radius: 20px 20px 20x 20px;
    margin: 10px;
}

.main-mid {
    width: 250px;
    height: 220px;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: white;
    border-radius: 20px 20px 0 0;
}

.iconFileType {
    border: black solid;
    display: block;
    align-items: center;
    width: 60px;
    height: 50px;
    margin-right: 90px;
    margin-bottom: 100px;
}

.dottedThree {
    width: 20px;
    height: 30px;
    opacity: 20;
}

.FolderName {
    margin: 0;
}

.property {
    margin: 0;
}

.bottomOfCard {
    display: flex;
    height: 15%;
    border-radius: 0px 0px 20x 20px;
}

.size {
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 0;
    margin-top: 5%;
}

.sharedWith {
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 5%;
}